<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pelis App</h1>
    <p class="lead">
      Aplicación de angular que consume un servico REST de películas.
    </p>
  </div>
</div>

<div class="container">
  <br />
  <app-galeria
    [peliculas]="cartelera | slice: 0:6"
    titulo="peliculas en cartelera"
  ></app-galeria>
  <app-galeria
    [peliculas]="populares | slice: 0:6"
    titulo="peliculas populares"
  ></app-galeria>
  <app-galeria
    [peliculas]="popularesNinos | slice: 0:6"
    titulo="peliculas infantiles"
  ></app-galeria>
</div>
